<section class="padding-nav-bar d-flex flex-column justify-content-center align-items-center">
  <!--<div class="container">-->
  <!--<div class="row justify-content-center">-->
  <!--<div class="col-11 my-5">-->
  <!--<form (ngSubmiregisterbmit(content);" class="form-control i-aligncenter p-5" #registerForm="ngForm">-->
  <!--<h2 class="my-3">Please fill form</h2>-->

  <!--<div class="form-group">-->
  <!--<label for="inputId">Id</label>-->
  <!--<input id="inputId" [(ngModel)]="model.Username" type="text" class="form-control" aria-describedby="idHelp"-->
  <!--placeholder="Enter id" required name="id">-->
  <!--<small id="idHelp" class="form-text text-muted">Id can be Student's id or Lecture's id.</small>-->
  <!--</div>-->
  <!--<div class="form-group">-->
  <!--<label for="inputPassword">Password</label>-->
  <!--<input id="inputPassword" [(ngModel)]="model.PasswordHash" type="password" class="form-control"-->
  <!--placeholder="Enter password" required name="password">-->
  <!--</div>-->
  <!--<div class="form-group">-->
  <!--<label for="inputFullName">Full name</label>-->
  <!--<input id="inputFullName" [(ngModel)]="model.FullName" type="text" class="form-control"-->
  <!--placeholder="Enter full name" required name="name">-->
  <!--</div>-->
  <!--<div class="form-group">-->
  <!--<label for="inputFullName">Faculty</label>-->
  <!--<input id="inputFaculty" [(ngModel)]="model.Faculty" type="text" class="form-control"-->
  <!--placeholder="Enter faculty" required name="name">-->
  <!--</div>-->
  <!--<div class="form-group">-->
  <!--<label for="inputAdmissionYear">Admission Year</label>-->
  <!--<select id="inputAdmissionYear" class="form-control" name="year" [(ngModel)]="model.AdmissionYear">-->
  <!--<option *ngFor="let y of admissionYears" [value]="y">{{y}}</option>-->
  <!--</select>-->
  <!--</div>-->
  <!--<div class="form-group">-->
  <!--<label for="inputEmail">Email address</label>-->
  <!--<input id="inpEmailail" [(ngModel)]="model.Mail" type="email" class="form-control" placeholder="Enter email"-->
  <!--required name="email">-->
  <!--</div>-->
  <!--<div class="form-group">-->
  <!--<label for="inputPhone">Phone number</label>-->
  <!--<input id="inputPhone" [(ngModel)]="model.Phone" type="tel" class="form-control" placeholder="Enter phone"-->
  <!--required name="phone">-->
  <!--</div>-->
  <!--<button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid">Submit</button>-->
  <!--</form>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <div class="container">
    <form (ngSubmit)="register()" #registerForm="ngForm" class="form-control p-5">
      <h2>Fill register form</h2>
      <div class="form-group">
        <label for="inputId">Id</label>
        <input id="inputId" [(ngModel)]="model.Username" type="text" class="form-control" aria-describedby="idHelp"
               placeholder="Enter id" required name="id">
        <small id="idHelp" class="form-text text-muted">Id can be Student's id or Lecture's id.</small>
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input id="inputPassword" [(ngModel)]="model.PasswordHash" type="password" class="form-control"
               placeholder="Enter password" required name="password">
      </div>
      <div class="form-group">
        <label for="inputFullName">Full name</label>
        <input id="inputFullName" [(ngModel)]="model.FullName" type="text" class="form-control"
               placeholder="Enter full name" required name="name">
      </div>
      <div class="form-group">
        <label for="inputFullName">Faculty</label>
        <input id="inputFaculty" [(ngModel)]="model.Faculty" type="text" class="form-control"
               placeholder="Enter faculty" required name="faculty">
      </div>
      <div class="form-group">
        <label for="inputAdmissionYear">Admission Year</label>
        <select id="inputAdmissionYear" class="form-control" name="year" [(ngModel)]="model.AdmissionYear">
          <option *ngFor="let y of admissionYears" [value]="y">{{y}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input id="inputEmail" [(ngModel)]="model.Email" type="email" class="form-control" placeholder="Enter email"
               required name="email">
      </div>
      <div class="form-group">
        <label for="inputPhone">Phone number</label>
        <input id="inputPhone" [(ngModel)]="model.Phone" type="tel" class="form-control" placeholder="Enter phone"
               required name="phone">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary " [disabled]="!registerForm.form.valid||isBusy">Submit
          <i *ngIf="isBusy" class="fa fa-spinner fa-spin fa-fw"></i></button>
      </div>
    </form>
  </div>
</section>
