[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Duy Thanh Nguyen (ndthanhdev)
[access "refs/for/refs/*"]
	read = group user/Duy Thanh Nguyen (ndthanhdev)
	push = group user/Duy Thanh Nguyen (ndthanhdev)
	label-Code-Review = -2..+2 group user/Duy Thanh Nguyen (ndthanhdev)
	label-Verified = -1..+1 group user/Duy Thanh Nguyen (ndthanhdev)
	rebase = group user/Duy Thanh Nguyen (ndthanhdev)
	removeReviewer = group user/Duy Thanh Nguyen (ndthanhdev)
	submit = group user/Duy Thanh Nguyen (ndthanhdev)
[access "refs/heads/*"]
	read = group user/Duy Thanh Nguyen (ndthanhdev)
	create = group user/Duy Thanh Nguyen (ndthanhdev)
	push = +force group user/Duy Thanh Nguyen (ndthanhdev)
	pushMerge = group user/Duy Thanh Nguyen (ndthanhdev)
[access "refs/tags/*"]
	push = group user/Duy Thanh Nguyen (ndthanhdev)
	push = +force group user/Duy Thanh Nguyen (ndthanhdev)
