<aside class="p-auto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>link ..................</li>
                    <li>link ..................</li>
                    <li>link ..................</li>
                    <li>link ..................</li>
                    <li>link ..................</li>
                    <li>link ..................</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>link ..................</li>
                    <li>link ..................</li>
                    <li>link ..................</li>
                    <li>link ..................</li>
                    <li>link ..................</li>
                    <li>link ..................</li>
                </ul>
            </div>
        </div>
    </div>
</aside>