<section class="padding-nav-bar container d-flex flex-column">
  <div class="row justify-content-center">
    <md-input-container class="w-50 my-3">
      <input mdInput placeholder="Search" value="">
    </md-input-container>
    <ngx-datatable
      class="material striped w-100"
      [rows]="rows"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="50"
      [loadingIndicator]="isLoading">
      <ngx-datatable-column name="Title">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">Topics</span>
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <a class="link-disabled" [routerLink]="['/topic',row.topicId]">{{value}}</a>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
    <div class="card my-3 w-100">
      <div class="card-block">
        <h4 class="card-title">{{tag?.name}}</h4>
        <p class="card-text">{{tag?.description}}</p>
      </div>
    </div>
  </div>
</section>
