<section class="padding-nav-bar">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div *ngFor="let category of categories" class="card m-2" style="width: 20rem; height: 15rem;">
        <div class="card-block">
          <h4 class="card-title">{{category.name}}</h4>
          <p class="card-text">{{category.description}}</p>
          <a routerLink="home" routerLinkActive="active" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</section>
