/* You can add global styles to this file, and also import other style files */

body,
header,
section,
.full-height {
    min-height: 100vh;
}

* {
    font-family: 'Kanit', sans-serif;
}

.bg-light-gray {
    background-color: lightgray;
}