<section class="padding-navbar d-flex flex-column justify-content-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-11 my-5">
        <form class="form-control i-aligncenter p-5" #registerForm="ngForm">
          <h2 class="my-3">Please fill form</h2>

          <div class="form-group">
            <label for="inputId">Student's Id</label>
            <input id="inputId" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter id">
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input id="inputPassword" type="password" class="form-control" placeholder="Enter password">
          </div>
          <div class="form-group">
            <label for="inputFullName">Full name</label>
            <input id="inputFullName" type="text" class="form-control" placeholder="Enter full name">
          </div>
          <div class="form-group">
            <label for="inputAdmissionYear">Admission Year</label>
            <input type="date" class="form-control" id="inputAdmissionYear" placeholder="2014">
          </div>
          <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="inputPhone">Phone number</label>
            <input type="tel" class="form-control" id="inputPhone" placeholder="Enter phone">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
