<nav class="navbar page-scroll navbar-toggleable-md navbar-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="#"> <img style="background: transparent;" src="/img/logo.svg" width="128" height="128" class="d-inline-block align-cen" alt="">TDT IT Forum</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container">
            <ul class="navbar-nav mr-auto float-right">
                <li class="nav-item">
                    <a class="nav-link" href="#">Computer Science</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Operations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Security</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Software Engineering</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Team</a>
                </li>
            </ul>
        </div>
    </div>
</nav>