/* You can add global styles to this file, and also import other style files */

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

body,
header,
section {
  min-height: 75vh;
}

.full-height {
  min-height: 100vh;
}

* {
  font-family: 'Kanit', sans-serif;
}

.bg-light-gray {
  background-color: lightgray;
}

.padding-nav-bar {
  margin-top: 8em;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
