<nav id="mainNav" class="navbar fixed-top navbar-toggleable-md navbar-inverse px-5"
     [ngClass]=" { 'navbar-shrink': isShrink} ">
  <a pageScroll class="navbar-brand text-center" routerLink="home" routerLinkActive="active">TDT IT Forum</a>
  <button class="navbar-toggler navbar-toggler-right " type="button " (click)="isCollapsed=! isCollapsed "
          [attr.aria-expanded]="!isCollapsed " aria-controls="navbarToggler ">
    <span class="navbar-toggler-icon "></span>
  </button>
  <div class="navbar-collapse" [ngbCollapse]="isCollapsed " id="navbarToggler ">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link " routerLink="home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item ">
        <a routerLink="tag" class="nav-link " routerLinkActive="active">Tags</a>
      </li>
      <li class="nav-item" *ngIf="isAuthorized">
        <a routerLink="profile" routerLinkActive="active" class="nav-link " href="">Profile</a>
      </li>
      <li class="nav-item" *ngIf="isMod">
        <a routerLink="verify-post" routerLinkActive="active" class="nav-link " href="">Verify Post</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a routerLink="manage-user" routerLinkActive="active" class="nav-link " href="">Manage User</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a routerLink="manage-tag" routerLinkActive="active" class="nav-link " href="">Manage Tag</a>
      </li>
      <li class="nav-item" *ngIf="isAuthorized">
        <a class="nav-link" routerLink="profile" routerLinkActive="active" *ngIf="isVerify">Add A Post</a>
        <a class="nav-link disabled" *ngIf="!isVerify">Add A Post</a>
      </li>
    </ul>
    <form class="form-inline">
      <a routerLink="register" routerLinkActive="active" class="btn btn-success my-1 mx-2 my-sm-0"
         *ngIf="!isAuthorized">Register</a>
      <a routerLink="login" routerLinkActive="active" class="btn btn-primary my-1 mx-2 my-sm-0" *ngIf="!isAuthorized">Login</a>
      <i class="fa" aria-hidden="true" *ngIf="isAuthorized"
         [ngClass]="{'fa-check-circle-o':isVerify, 'fa-circle-o':!isVerify}"></i>
      <a routerLinkActive="active" routerLink="profile" *ngIf="isAuthorized" href="" class="my-1 mx-2 my-sm-0">Welcome,
        {{userName}}!</a>
      <a (click)="logout()" class="btn btn-danger my-1 my-sm-0" *ngIf="isAuthorized">Logout</a>
    </form>
  </div>
</nav>
