<nav id="mainNav" class="navbar fixed-top navbar-toggleable-md navbar-inverse" [ngClass]=" { 'bg-inverse navbar-shrink': isShrink} ">
    <div class="container">
        <a pageScroll class="navbar-brand " href="#top">TDT IT Forum</a>
        <button class="navbar-toggler navbar-toggler-right " type="button " (click)="isCollapsed=! isCollapsed " [attr.aria-expanded]="!isCollapsed " aria-controls="navbarToggler ">
    <span class="navbar-toggler-icon "></span>
  </button>
        <div class="navbar-collapse " [ngbCollapse]="isCollapsed " id="navbarToggler ">
            <div class="container ">
                <ul class="navbar-nav float-md-right ">
                    <li class="nav-item active ">
                        <a class="nav-link " href="#">Login</a>
                    </li>
                    <li class="nav-item ">
                        <a pageScroll class="nav-link " href="#topContent">Top Conent</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="# ">Category</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="# ">Security</a>
                    </li>
                    <li class="nav-item ">
                        <a pageScroll class="nav-link" href="#team">Team</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>