<section *ngIf="!isBusy" class="padding-nav-bar container d-flex justify-content-center">
  <form class="form-control i-aligncenter p-5" #form="ngForm">
    <h2 class="my-3">Add category</h2>
    <div class="form-group">
      <label for="inputName">Title</label>
      <input id="inputName" type="text" class="form-control"
             placeholder="Enter title" required name="name" [(ngModel)]="model.title">
    </div>
    <div class="form-group">
      <label for="inputDescription">Description</label>
      <div id="inputDescription" [froalaEditor] [(froalaModel)]="model.post.content"></div>
    </div>

    <md-chip-list>
      <md-chip *ngFor="let ct of model.containerTag" [selectable]="true"> {{getTagByName(ct.tagId)}}</md-chip>
    </md-chip-list>
    <br>

    <md-input-container>
      <input mdInput placeholder="Type and enter to add tag" [mdAutocomplete]="auto" #tagInput [formControl]="formC"
             (keyup.enter)="addTag(tagInput.value);">
    </md-input-container>
    <md-autocomplete #auto="mdAutocomplete">
      <md-option *ngFor="let tag of tags" [value]="tag.name">
        {{tag.name}}
      </md-option>
    </md-autocomplete>
    <br>

    <button class="btn btn-primary my-3" (click)="add()"
            [disabled]="!form.form.valid||isBusy">
      Add&nbsp;
      <i class="fa fa-spinner fa-spin" *ngIf="isBusy"></i>
    </button>
  </form>

</section>
